<div id="<%= dom_id greeting %>">
  <div class="media">
    <%= image_tag gravatarized_url(greeting.name), class: 'align-self-start me-3' %>
    <div class="media-body">
      <h5 class="mt-0"><%= greeting.name %></h5>
      <%= greeting.message %>
    </div>
  </div>
  <br>
</div>